{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class=" col-10 mx-auto">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entreprise</th>
                <th>Abbr</th>
                <th>Siret</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.entreprise }}</td>
                <td>{{ client.abbr }}</td>
                <td>{{ client.siret }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.cp }}</td>
                <td>{{ client.ville }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
