{% extends 'base.html.twig' %}

{% block title %}Facture index{% endblock %}

{% block body %}


<div class=" col-10 mx-auto">
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>N°</th>
                <th>Client</th>
                <th>Prestation</th>
                <th>Total</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
            <tr>
                <td>{{ facture.date ? facture.mois|date('Y-m M') : '' }}</td>
                <td>{{facture.date|date('Ym')}}{{facture.client.abbr}}</td>
                <td>{{ facture.client.entreprise }}</td>
                <td>{{ facture.prestation }}</td>
                <td>{{ (facture.quantite * facture.taux)|round(2, 'common') }} €</td>
                <td>
                    <a class="btn btn-light" href="{{ path('facture_pdf', {'id': facture.id}) }}">pdf</a>
                    <a class="btn btn-light" href="{{ path('facture_show', {'id': facture.id}) }}">show</a>

                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}